body {
    font-family: Arial;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

#alert {
    color: red;
    font-weight: bold;
}

.buttons a {
    margin-right: 15px;
    font-size: 16px;
}
