<!DOCTYPE html>
<html>
<head>
    <title>Dashboard WiFi</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

</head>
<body>

<h1>Dashboard WiFi</h1>
<div id="alert"></div>

<table id="deviceTable">
    <thead>
        <tr>
            <th>IP</th>
            <th>MAC</th>
            <th>Nombre</th>
            <th>Zona</th>
            <th>Distancia (m)</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<canvas id="radarChart"></canvas>

<div class="buttons">
    <a href="/download/pdf">📄 Descargar PDF</a>
    <a href="/download/excel">📊 Descargar Excel</a>
</div>

<script src="/static/js/dashboard.js"></script>
</body>
</html>
